# TAREA M2 T01

# Ejercicio 1

In [1]:
Trim = [["enero","febrero","marzo"],["abril","mayo","junio"],
        ["julio","agosto","septiembre"],["octubre","noviembre","diciembre"]]
print(Trim)

[['enero', 'febrero', 'marzo'], ['abril', 'mayo', 'junio'], ['julio', 'agosto', 'septiembre'], ['octubre', 'noviembre', 'diciembre']]

# Ejercicio 2

In [2]:
print("Segundo mes del primer trimestre:", Trim[0][1])
print("Meses del primer trimestre:",Trim[0])
print("Último mes del 1er trimestre y primer mes del 4to trimestre:",Trim[2][2],Trim[3][0])

Segundo mes del primer trimestre: febrero
Meses del primer trimestre: ['enero', 'febrero', 'marzo']
Último mes del 1er trimestre y primer mes del 4to trimestre: septiembre octubre

# Ejercicio 3

In [3]:
import random
N_Aleatorios = random.sample(range(40), 40)
print(N_Aleatorios)

[36, 27, 6, 1, 0, 21, 34, 19, 17, 33, 31, 38, 29, 26, 11, 25, 16, 2, 20, 4, 9, 37, 15, 3, 39, 32, 10, 7, 5, 28, 30, 22, 23, 12, 8, 14, 18, 35, 13, 24]

### A)

In [4]:
print("El cantidad de números en la lista es de:", len(N_Aleatorios))

El cantidad de números en la lista es de: 40

### B)

In [5]:
print("El número tres aparece",N_Aleatorios.count(3),"vez")

El número tres aparece 1 vez

### C)

In [6]:
print("El número tres aparece",N_Aleatorios.count(3), "vez y el número cuatro aparece también", N_Aleatorios.count(4),"vez")
print("Los números tres y cuatro aparecen:", N_Aleatorios.count(3)+N_Aleatorios.count(4),"veces")

El número tres aparece 1 vez y el número cuatro aparece también 1 vez
Los números tres y cuatro aparecen: 2 veces

### D)

In [7]:
print("El mayor número que aparece en la lista es:", max(N_Aleatorios))

El mayor número que aparece en la lista es: 39

### E)

In [8]:
import heapq
print("Los tres números más pequeños de la lista son:",heapq.nsmallest(3,N_Aleatorios))

Los tres números más pequeños de la lista son: [0, 1, 2]

### F)

In [9]:
print("El rango de la lista es:",max(N_Aleatorios)-min(N_Aleatorios))

El rango de la lista es: 39

# Ejercicio 4

In [10]:
compra = {"Pomes":{"Qty": 5, "€": 0.42},"Peres":{"Qty": 3, "€": 0.66}}

### A)

In [11]:
compra["Plàtan"]={"Qty":6,"€":0.75}
print(compra)

{'Pomes': {'Qty': 5, '€': 0.42}, 'Peres': {'Qty': 3, '€': 0.66}, 'Plàtan': {'Qty': 6, '€': 0.75}}

### B)

In [12]:
print ("Las tres peras han costado un total de",(compra["Peres"]["Qty"])*(compra["Peres"]["€"]),"€")

Las tres peras han costado un total de 1.98 €

### C)

In [13]:
print("Hemos comprado un total de",compra["Pomes"]["Qty"]+compra["Peres"]["Qty"]+compra["Plàtan"]["Qty"],"frutas")

Hemos comprado un total de 14 frutas

### D)

In [18]:
print("El plàtan es la fruta más cara con un precio de",
      max(compra["Pomes"]["€"],compra["Peres"]["€"],compra["Plàtan"]["€"]),"€")

El plàtan es la fruta más cara con un precio de 0.75 €